html {
    background-color: #16145F;
    font-family: arial;
}
.topnav {
    background-color: #333333;
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 95px;
}
.topnav h1 {
    color: #f2f2f2;
    margin: 0;
    padding-left: 16px;
    display: inline-block;
    vertical-align: middle;
}
.topnav img {
    margin-left: 16px;
    display: inline-block;
    vertical-align: middle;
}

.nav {
    margin-left: 700px;
}

.nav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left: auto;
}
.nav a:hover {
    background-color: #ddd;
    color: black;
}
.nav a.active {
    background-color: #FBC917;
    color: white;
}

.disclaimer {
    background-color: #FBC917;
    height: 60px;
    text-align: center;
    padding-top: 1px;
    color: #f2f2f2;
}

.top {
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    display: flex;
}

.top h1 {
    font-size: 45px;
    width: 400px;
    margin-top: 150px;
    margin-left: 50px;
    padding: 10px;
    border-radius: 10px;
    padding-bottom: 50px;
}

.top h2 {
    margin-top: 220px;
    margin-left: 62px;
}

.top h1, h2 {
    color: #f2f2f2;
    background-color: #333333;
    position: absolute;
}

.topics {
    background-color: #FBC917;
    margin-top: -45px;
}

.a, .b, .c, .d {
    background-color: #333333;
    color: white;
    width: 400px;
    display: inline-block;
    text-align: center;
    padding-top: 160px;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
    height: 240px;
}

.a {
    margin-left: 25px;
    background-image: url("../images/a.png");
    background-size: contain;
    border-radius: 10px;
}

.a:hover {
    background-image: url("../images/a1.png");
    background-size: contain;
    color: black;
    border-radius: 10px;
}

.b {
    background-image: url("../images/b.png");
    background-size: contain;
    border-radius: 10px;
}

.b:hover {
    background-image: url("../images/b1.png");
    background-size: contain;
    color: black;
    border-radius: 10px;
}

.c {
    background-image: url("../images/c.png");
    background-size: contain;
    border-radius: 10px;
}

.c:hover {
    background-image: url("../images/c1.png");
    background-size: contain;
    color: black;
    border-radius: 10px;
}

.d {
    background-image: url("../images/d.png");
    background-size: contain;
    border-radius: 10px;
}

.d:hover {
    background-image: url("../images/d1.png");
    background-size: contain;
    color: black;
    border-radius: 10px;
    display: inline-block;
}

footer {
    background-color: #333333;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    display: flex;
}

footer p:not(:first-child) {
    padding-left: 20px;
}